#buttons
{
    display: inline-block;
    vertical-align: top;
}
#arr-area li
{
    line-height: 30px;

    display: inline-block;

    height: 30px;
    margin: 10px;
    padding-right: 8px;
    padding-left: 8px;

    cursor: pointer;
    text-align: center;

    color: white;
    background-color: red;
}
