#buttons
{
    display: inline-block;
}
#arr-area li
{
    height: 30px;

    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 8px;

    cursor: pointer;
    text-align: center;

    color: white;
    background-color: red;
}
